.card {
  padding: 37px 18px 44px;
  text-align: center;
  box-shadow: 0 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  background-color: $white;

  &__icon {
    display: inline-block;
    margin: 0 0 58px;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.385;
    letter-spacing: 0.08em;
    color: $primaryColor;
  }

  &__subtitle {
    font-size: 12px;
    line-height: 1.385;
    text-align: center;
    letter-spacing: 0.08em;
    margin-top: 4px;
  }
}