.watch-video {
  display: inline-flex;
  align-items: center;

  &__body {
    margin-left: 12px;
  }

  &__title {
    font-size: 13px;
    line-height: 1.26;
    color: $lightGray;
  }

  &__subtitle {
    font-size: 9px;
    line-height: 1.26;
    letter-spacing: 1.65px;
    text-transform: uppercase;
    color: $primaryColor;
    margin-top: 5px;
  }
}